@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(57, 57, 57, 0.4), rgba(31, 31, 31, 0.4)),
  url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80');
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
}

.app-title {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}